/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap');


/* Root Variables */
:root {
  --clr-primary-heading: hsl(14, 45%, 36%);
  --clr-primary-accent: hsl(332, 51%, 32%);
  --clr-rose-bg: hsl(330, 100%, 98%);
  
  --clr-body-text: hsl(30, 10%, 34%);
  --clr-bg-page: hsl(30, 54%, 90%);
  --clr-bg-card: hsl(0, 0%, 100%);
  --clr-divider: hsl(30, 18%, 87%);
}

/* Global Typography */
body {
    font-family: 'Outfit' , sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: var(--clr-body-text);
    background-color: var(--clr-bg-page);
    padding: 40px 20px;
}

/* Headings */
h1, h2 {
    font-family: 'Young Serif', serif;
    color: var(--clr-primary-heading);
    margin-bottom: 16px;
}

/* Layout: Recipe Card */
.recipe-card {
    background-color: var(--clr-bg-card);
    max-width: 736px;
    margin: 0 auto;
    padding: 32px;
    border-radius: 20px;
}

/* Hero Image */
.hero img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 24px;
}

/* Hero Text */
.hero p {
    margin-bottom: 2rem;
}

/* Prep Box */
.prep-box {
    background-color: var(--clr-rose-bg);
    padding: 28px;
    border-radius: 12px;
    margin-bottom: 32px;
}

/* Prep Box Heading */
.prep-box h2 {
    font-family: 'Outfit', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--clr-primary-accent);
    margin-bottom: 16px;
}

/* Prep Box List */
.prep-box ul {
    padding-left: 24px;
}

/* Prep Box List Items */
.prep-box li {
    padding-left: 16px;
    margin-bottom: 10px;
}

/* Prep Box Bullet Color */
.prep-box li::marker {
    color: var(--clr-primary-accent);
}

/* Prep Box Labels */
.prep-box strong {
    font-weight: 700;
}

/* Ingredients Section */
.ingredients {
    padding-bottom: 32px;
    border-bottom: 1px solid var(--clr-divider);
}

/* Ingredients List ul */
.ingredients ul {
    padding-left: 24px;
}

/* Ingredients List li */
.ingredients li {
    padding-left: 16px;
    margin-bottom: 12px;
}

/* Color Ingredients Bullets */
.ingredients li::marker {
    color: var(--clr-primary-heading);
}
