/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap');


/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root Variables */
:root {
  --clr-primary-heading: hsl(14, 45%, 36%);
  --clr-primary-accent: hsl(332, 51%, 32%);
  --clr-rose-bg: hsl(330, 100%, 98%);
  --clr-heading-dark: hsl(24, 5%, 18%);
  
  --clr-body-text: hsl(30, 10%, 34%);
  --clr-bg-page: hsl(30, 54%, 90%);
  --clr-bg-card: hsl(0, 0%, 100%);
  --clr-divider: hsl(30, 18%, 87%);
}

/* Global Typography */
body {
    font-family: 'Outfit' , sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: var(--clr-body-text);
    background-color: var(--clr-bg-page);
    padding: 128px 20px;
}

/* Headings */
h1, h2 {
    font-family: 'Young Serif', serif;
    margin-bottom: 16px;
}

h1 {
    color: var(--clr-heading-dark);
}

h2 {
    color: var(--clr-primary-heading);
}

/* Layout: Recipe Card */
.recipe-card {
    background-color: var(--clr-bg-card);
    max-width: 736px;
    margin: 0 auto;
    padding: 32px;
    border-radius: 20px;
}

/* Hero Image */
.hero img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 24px;
}

/* Hero Text */
.hero p {
    margin-bottom: 2rem;
}

/* Prep Box */
.prep-box {
    background-color: var(--clr-rose-bg);
    padding: 28px;
    border-radius: 12px;
    margin-bottom: 32px;
}

/* Prep Box Heading */
.prep-box h2 {
    font-family: 'Outfit', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--clr-primary-accent);
    margin-bottom: 16px;
}

/* Prep Box List */
.prep-box ul {
    padding-left: 24px;
}

/* Prep Box List Items */
.prep-box li {
    padding-left: 16px;
    margin-bottom: 10px;
}

/* Prep Box Bullet Color */
.prep-box li::marker {
    color: var(--clr-primary-accent);
}

/* Prep Box Labels */
.prep-box strong {
    font-weight: 700;
}

/* Ingredients Section */
.ingredients {
    padding-bottom: 32px;
    border-bottom: 1px solid var(--clr-divider);
}

/* Ingredients List ul */
.ingredients ul {
    padding-left: 24px;
}

/* Ingredients List li */
.ingredients li {
    padding-left: 16px;
    margin-bottom: 12px;
}

/* Color Ingredients Bullets */
.ingredients li::marker {
    color: var(--clr-primary-heading);
}

/* Instruction Section */
.instructions {
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid var(--clr-divider);
}

/* Instructions Ordered List */
.instructions ol {
    padding-left: 24px;
}

/* Instructions List Items */
.instructions li {
    padding-left: 16px;
    margin-bottom: 16px;
}

/* Instructions List Numbers */
.instructions li::marker {
    color: var(--clr-primary-heading);
    font-weight: 700;
}

/* Make step titles stand out */
.instructions strong {
    font-weight: 700;
}

/* Nutrition Section */
.nutrition {
    padding-top: 32px;
}

/* Style the description paragraph */
.nutrition p {
    margin-bottom: 24px;
}

/* Make the table take the full width */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Add Row Separators */
tr {
    border-bottom: 1px solid var(--clr-divider);
}

/* Remove border from last row */
tr:last-child {
    border-bottom: none;
}

/* Cell spacing */
td {
    padding: 16px 32px;
}

/* Make the values stand out */
td:last-child {
    color: var(--clr-primary-heading);
    font-weight: 700;
}

/* Attribution Information*/
.attribution {
    font-size: 0.6875rem; text-align: center;
}


.attribution a {
    color: hsl(228,45%,44%);
}

/* Mobile Layout */
@media (max-width: 600px) {
    body {
        padding: 0;
        background-color: var(--clr-bg-card);
    }

    .recipe-card {
        max-width: 100%;
        padding: 0 32px 32px;
        border-radius: 0;
    }

    .hero-img {
        width: calc(100% + 64px);
        max-width: none;
        margin-left: -32px;
        border-radius: 0;
        margin-bottom: 32px;
    }

    h1 {
        font-size: 2.25rem;
        line-height: 1.1;
    }

}