/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap');


/* Root Variables */
:root {
  --clr-primary-heading: hsl(14, 45%, 36%);
  --clr-primary-accent: hsl(332, 51%, 32%);
  
  --clr-body-text: hsl(30, 10%, 34%);
  --clr-bg-page: hsl(30, 54%, 90%);
  --clr-bg-card: hsl(0, 0%, 100%);
  --clr-divider: hsl(30, 18%, 87%);
}